body {
  font: 10px sans-serif;
  color: black;
  background-color: #DDD;
  margin: 0;
}
h1 {
  font-size: 10em;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  line-height: 0.8em;
  margin-left: -5px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 50px;
  border-bottom: 1px black solid;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  border-bottom: 1px black solid;
}
h3 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  border-bottom: 1px black solid;
  margin: 0.5em auto;
}
p {
  font-size: 1em;
  font-weight: normal;
}
/* forces divs (ie. "boxes") to maintain the padding amount within the width of a div (and not add it to the width). */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
.wrapper {
  margin: 50px auto;
  width: 1000px;
  overflow: auto;
}
.graph_container {
  position: relative;
  margin-top: 50px;
  background-color: #FFF;
  padding: 25px;
  border-radius:5px;
}
.full_row{
  float: left;
  width: 1000px;
}
.column1{
  float: left;
  width: 300px;
}
.column2{
  margin-left: 25px;
  float: left;
  width: 300px;
}
.column3{
  margin: 0px;
  float: right;
  width: 300px;
}
.header_clicker {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 15px 25px 0px 0px;
  color: #AAA;
  cursor: pointer;
  /*border-bottom: 1px dotted black;*/
}
span.h1 {
  font-size: 0.25em;
  line-height: 0.25em;
}
/*p.title {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #CCC;
  color: white;
  padding: 10px;
}*/
span.chiefs {
  font-weight: bold;
  color: #C60C30;
}
span.patriots {
  font-weight: bold;
  color: #0D254C;
}
span.broncos {
  font-weight: bold;
  color: #FF6319;
}
.broncos {
  font-weight: bold;
  color: #FF6319;
}
/* Controls color and size of label text for ticks on axes. */
.axis {
  font-size: 1em;
  fill: #777;
}
.axis path,
.axis line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}
.axis-text {
  font-size: 1em;
}
.area.afc {
  /*fill: url(#first-gradient);*/
  /*---*/
  /*fill:#ff7c33;*/
  /*stroke: #FF6319;*/
  /*opacity: 0.9;*/
  /*---*/
  /*fill: url(#pattern-image);*/
  /*---*/
  /*fill: url(#diagonalHatch_value1);*/
  /*opacity: 0.2;*/
  /*---*/
  stroke-width: 0px;
  opacity: 1;
}
.area.nfc {
  /*fill: url(#second-gradient);*/
  /*---*/
  /*fill:#ec414a;*/
  /*stroke: #C60C30;*/
  /*opacity: 0.9;*/
  /*---*/
  /*fill: url(#pattern-image);*/
  /*---*/
  /*fill: url(#diagonalHatch_value2);*/
  /*opacity: 0.2;*/
  /*---*/
  stroke-width: 0px;
  opacity: 0.5;
}
.area.afc.broncos {
  fill: #FF6319;
}
.area.nfc.chiefs {
  fill: #C60C30;
}
.area.nfc.chiefs.crosshatched3 {
  fill: url('/#diagonalHatch_value3');
  opacity: 1;
}
.area.nfc.patriots {
  fill: #0D254C;
}
/* DEV : Hashing 1 - START */
/*.area_afc {
  fill: url(#diagonalHatch_value1);
  stroke-width: 0px;
}
.area_nfc {
  fill: url(#diagonalHatch_value2);
  stroke-width: 0px;
}*/
/* DEV : Hashing 1 - END */
.line.afc {
  fill: none;
  stroke-width: 1px;
}
.line.nfc {
  fill: none;
  stroke-width: 1px;
}
.line.afc.broncos {
  stroke: #FF6319;
}
.line.nfc.chiefs {
  stroke: #C60C30;
}
.line.nfc.patriots {
  stroke: #0D254C;
}
/* - - - Bar Charts - - - */
.bar.broncos {
  fill: #FF6319;
}
.bar.chiefs {
  fill: #C60C30;
}
.bar.patriots {
  fill: #0D254C;
}
.bar:hover {
  /*fill: brown;*/
}
.bar text {
  fill: black;
}
