body {
  font: 10px sans-serif;
  color: black;
}
h1 {
  /*text-transform: uppercase;
  font-size: 3em;
  background-color: black;
  color: white;
  padding: 10px;*/
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #CCC;
  color: white;
  padding: 10px;
}
h2 {
  text-transform: uppercase;
  font-size: 2em;
  line-height: 0.3em;
}
p {
  font-size: 1em;
  font-weight: normal;
}
/*p.title {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #CCC;
  color: white;
  padding: 10px;
}*/
span.chiefs {
  color: #C60C30;
}
span.patriots {
  color: #0D254C;
}
span.broncos {
  color: #FF6319;
}
.graph_container {
  margin: 0 auto;
  width: 1000px;
}
.column1{
  float: left;
  width: 300px;
}
.column2{
  margin-left: 50px;
  float: left;
  width: 300px;
}
.column3{
  float: right;
  width: 300px;
}
.full_row{
  margin-top:0px;
  float: left;
  width: 1000px;
}
.graph{
  margin-top:50px;
  margin-bottom:50px;
}
/* Controls color and size of label text for ticks on axes. */
.axis {
  font-size: 1em;
  fill: #777;
}
.axis path,
.axis line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}
.axis-text {
  font-size: 1em;
}
.area_afc {
  /*fill: url(#first-gradient);*/
  /*---*/
  /*fill:#ff7c33;*/
  /*stroke: #FF6319;*/
  /*opacity: 0.9;*/
  /*---*/
  /*fill: url(#pattern-image);*/
  /*---*/
  /*fill: url(#diagonalHatch_value1);*/
  /*opacity: 0.2;*/
  /*---*/
  stroke-width: 0px;
  fill: #FF6319;
  opacity: 0.5;
}
.area_nfc {
  /*fill: url(#second-gradient);*/
  /*---*/
  /*fill:#ec414a;*/
  /*stroke: #C60C30;*/
  /*opacity: 0.9;*/
  /*---*/
  /*fill: url(#pattern-image);*/
  /*---*/
  /*fill: url(#diagonalHatch_value2);*/
  /*opacity: 0.2;*/
  /*---*/
  stroke-width: 0px;
  fill: #0D254C;
  opacity: 0.5;
}
.line_afc {
  fill: none;
  stroke: #FF6319;
  stroke-width: 1px;
}
.line_nfc {
  fill: none;
  stroke: #0D254C;
  stroke-width: 1px;
}
.special_line1 {
  fill: none;
  stroke: #FF6319;
  stroke-width: 1px;
}
.special_line2 {
  fill: none;
  stroke: #C60C30;
  stroke-width: 1px;
}